{% extends "layout/basic.html" %}


{% block title %}Добавление объявления{% endblock %}

{% block content %}
<h2>Добавление объявления</h2>

<!--    <form method="post" action="{% url 'bboard:add_save' "%>-->
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>
{% endblock %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать мороженое</title>
</head>
<body>
    <h1>Создать новое мороженое</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Отображаем форму -->
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>
